a {
    color : white;
}

a:hover {
    color : rgb(180, 179, 179);
}

.nav-profile-pic {
    /* max-width : 100%; */
    max-height : 100%;
    width : auto;
    padding : 3px;
    /* margin-bottom : 5px;
    margin-left : 5px;
    margin-top :  */
}

.dropdown-menu {
    right : 0;
    left : auto;
}

.dropdown-item {
    padding-left : 0.25rem;
    padding-right : 0.25rem;
}

.item-padding {
    padding-left : 1rem;
}

.navigation-bar {
    width : 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

