.profile-pic {
    width : 15rem;
    height : 15rem;
}

.row-spacing {
    margin-bottom : 10px;
}

.background-image {
    max-width : 100%;
    margin-right : 0;
    margin-left : 0;
    filter: brightness(70%);
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin-left: 25px;
}